.metting_point{
    border: 1px solid lightgray;
    padding :10px;
    margin: 10px 0px 0px 0px;

}
#basic_point{
    border: 1px solid lightskyblue;
    margin: 10px 10px 0px 0px;
    padding:10px;
}
.point{
    border: 1px solid lightskyblue;
    margin: 10px 10px 0px 0px;
    padding:10px;

}
.add_sub_point{
    float:right;
    margin: 10px 10px 0px 0px;

}
.sub_metting_point{
    border: 1px red dashed;
    padding: 5px;
    margin: 10px 0px 20px 50px;
}
.sub_metting_point table{
    margin :0px 0px 0px 10px;
}


#accordion h3{
    background: #eee;
    padding: 15px;
    margin:10px 0 0 0;
    outline: none;
    font-size: 14px;
    color: #005882;
}
#accordion .accordion-div{
    background: #FBFBFB;
    border: 1px solid #eee;
}
/*#accordion .single-item:first-child span.remove{
    display: none;
}*/
#accordion h3 div.actions{
    float: right;
}
#accordion h3 div.actions span{
    font-size: 13px;
    cursor: pointer;
    margin: 0 7px;
    float: right;
}
#accordion h3 div.actions span.remove{
    color: red;
}
#accordion h3 div.actions span.add{
    color: green;
}
#accordion h3 div.actions span.play{
    background:url(../images/play.png) no-repeat top left;
    display: inline-block;
    width: 30px;
    height: 30px;
}
#accordion .ui-sortable-placeholder{
    background: #0073aa;
    border: 1px dashed #ddd;
    visibility: visible !important;
}
#accordion h3 .galsa_audio{
    display: none;
    float: left;
    height: 25px;
}
#dialog,#add_dialog{
    display: none;
}

